html, body, #root, .App {
    height: 100%;

    background-color: #222;
}

.App {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #555;
    padding: 8px;
    color: #ddd;
}


.header .credit {
    font-weight: 600;
}

.centered {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.bagger-image {
    width: 800px;
    max-width: 100%;
    margin-bottom: 50px;
}

.keyboard {
    display: flex;
    flex-direction: column;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-items: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .keyboard {
        display: none;
    }

    .buttons .status-indicator, .buttons .ignite-button {
        width: 100px;
        height: 30px;
        font-size: 12px;
        margin-right: 4px;
        border-width: 5px;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.row {
    display: flex;
}